<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\css\111401546_css.css">
        <title>111401546_胡予娟</title>
    </head>
    <body>
        <!-- 標題 -->
        <h2>被你發現了</h2>
        <!-- 清單 -->
        <ul>
            <li>綽號：胡小黑🥕</li>
            <li>道具：棍、扇</li>
            <li>中央火舞12th 總務／副社</li>
            <li>中央火舞14th 社寵（有拿薪水）</li>
            <li>在中央火舞擔任團舞磚頭🧱</li>
        </ul>
        <!-- 內嵌影片 -->
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/2f9OwDU-Auc?autoplay=1&mute=1" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
        <!-- 表單 -->
        <form action="111401546_index.html" method="get">
            <label for="name" class="required">你是誰？</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="select_1">從哪裡得知這個網站？</label>
            <select id="select_1" name="select_1">
                <option value="choose">請選擇</option>
                <option value="facebook">Facebook</option>
                <option value="instagram">Instagram</option>
                <option value="line">Line</option>
                <option value="twitter">Twitter</option>
                <option value="youtube">Youtube</option>
                <option value="google">Google</option>
                <option value="other">其他</option>
            </select><br><br>

            <label for="know">是第一次知道火舞社嗎？</label>
            <input type="radio" id="radio_yes" name="know" value="yes">
            <label for="radio_yes">是</label>
            <input type="radio" id="radio_no" name="know" value="no">
            <label for="radio_no">否</label><br><br>

            <label for="item">對什麼道具感興趣？(可複選)</label>
            <div>
                <input type="checkbox" id="staff" name="item" value="staff">
                <label for="staff">棍</label>
            </div>
            <div>
                <input type="checkbox" id="fan" name="item" value="fan">
                <label for="fan">扇</label>
            </div>
            <div>
                <input type="checkbox" id="poi" name="item" value="poi">
                <label for="poi">球</label>
            </div><br><br>

            <label for="textarea">想說的話？</label>
            <textarea id="textarea_1" name="textarea_1" rows="4" cols="50" placeholder="輸入中..."></textarea><br><br>

            <input type="submit" value="送出">
        </form>
        <!-- 導覽 -->
        <div class="navbar">
            <a href="111401546_index.html">首頁</a>
            <div class="dropdown">
                <a href="#" class="dropbtn">與人之間的連結 ▼</a>
                <div class="dropdown-content">
                    <a href="https://www.instagram.com/ncufd_official/">Instegram</a>
                    <a href="https://www.facebook.com/NCUFireDance/?locale=zh_TW">Facebook</a>
                    <a href="https://www.youtube.com/@%E4%B8%AD%E5%A4%AE%E5%A4%A7%E5%AD%B8%E7%81%AB%E8%88%9E%E8%97%9D%E8%A1%93%E7%A0%94%E7%A9%B6">YouTube</a>
                </div>
            </div>
        </div>
    </body>
</html>