<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\css\111401546_css.css">
        <title>111401546_胡予娟</title>
    </head>
    <body>
        <!-- 標題 -->
        <h2>被你發現了</h2>
        <!-- 清單 -->
        <ul>
            <li>綽號：胡小黑🥕</li>
            <li>中央火舞12th 總務／副社</li>
            <li>中央火舞14th 社寵（有拿薪水）</li>
            <li>在中央火舞擔任團舞磚頭🧱</li>
        </ul>
        <!-- 內嵌影片 -->
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/2f9OwDU-Auc" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </body>
</html>