<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>111401546_猜數字遊戲</title>
        <script src="..\static\111401546_js_1.js"></script> 
    </head>

    <body>
        <h1>猜數字遊戲</h1>
        <p>請輸入一個1~100的數字</p>
        <p id="hint" style="font-weight: bold; color: rgb(35, 35, 140);"></p>
        <input type="text" id="guessInput">
        <button onclick="guessNumber()">選好了</button>
        <p id="timer" style="font-weight: bold; color: rgb(35, 35, 140);">
            已經過 <span id="timer">0</span> 秒
        </p>
    </body>
</html>