<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>111401546_購物車</title>
        <script src="..\static\111401546_js_2.js"></script>
        <link rel="stylesheet" href="..\static\111401546_css_2.css">
    </head>

    <body>
        <h1>SHOPPING CART</h1>
        <!--checkAllBox-->
        <label><input type="checkbox" id="selectAll"> 全選</label>

        <!--商品表格-->
        <table id="cartTable">
            <thead>
                <tr>
                    <th>選取</th>
                    <th>商品名稱</th>
                    <th>商品庫存</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>總計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="itemCheckbox" onchange="updateTotal()"></td>
                    <td>
                        <img src="../img/img1_PepegaPhone-3x.png" alt="商品A" style="width:40px; height:40px; vertical-align:middle;">
                        <br>PepegaPhone
                    </td>
                    <td>10</td>
                    <td class="price">100</td>
                    <td class="quantity">
                        <button class="minus">-</button>
                        <span>1</span>
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="itemCheckbox" onchange="updateTotal()"></td>
                    <td>
                        <img src="../img/img2_Susge-3x.png" alt="商品B" style="width:40px; height:40px; vertical-align:middle;">
                        <br>Susge
                    </td>
                    <td>10</td>
                    <td class="price">100</td>
                    <td class="quantity">
                        <button class="minus">-</button>
                        <span>1</span>
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="itemCheckbox" onchange="updateTotal()"></td>
                    <td>
                        <img src="../img/img3_GaygeUp-3x.png" alt="商品C" style="width:40px; height:40px; vertical-align:middle;">
                        <br>GaygeUp
                    </td>
                    <td>10</td>
                    <td class="price">100</td>
                    <td class="quantity">
                        <button class="minus">-</button>
                        <span>1</span>
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="itemCheckbox" onchange="updateTotal()"></td>
                    <td>
                        <img src="../img/img4_Madge-3x.png" alt="商品D" style="width:40px; height:40px; vertical-align:middle;">
                        <br>Madge
                    </td>
                    <td>10</td>
                    <td class="price">100</td>
                    <td class="quantity">
                        <button class="minus">-</button>
                        <span>1</span>
                        <button class="plus">+</button>
                    </td>
                    <td class="subtotal"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>